



h1 , h3 , h2 {
    color: black;
}
.inputDatos_header{
    background-color: whitesmoke;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 9px 21px -14px rgba(0,0,0,0.75);
}
.inputDatos{
    background-color: #AED6F1 ;
    border-radius: 5px;
    box-shadow: 10px 9px 21px -14px rgba(0,0,0,0.75);
}
.boton{
    background-color: teal;
    border-radius: 10px;
    box-shadow: 10px 9px 21px -7px rgba(0,0,0,0.75);
    padding: 15px;
    margin: 20px;
}
.inputDatos_body {
    margin: 30px;
    padding: 15px;
}
.nombreMascota {
    margin: 25px;
    box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.75);
}
.nombreDueño {
    margin: 25px;
    box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.75);
}
.fecha {
    margin: 25px;
    box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.75);
}
.hora {
    margin: 25px;
    box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.75);
}
.sintomas {
    margin: 25px;
    box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.75);
}
.inputDatos_footer {
    background-color: whitesmoke;
}
label {
    color: black;
}
.inputTurno_header{
    background-color: #AED6F1;
   
    
}
.inputTurno_body{
    background-color: #AED6F1;
   
}
.inputTurno_footer{
    background-color: red;
    
}
.titulo {
    background-color: teal;
}


.principal {
    background: rgba(235,233,249,1);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 0px 0px 0px 160px;   
}

.perro1 {
    height: 500px;
    width: 350px;
    
   
}
.intro-text {
    font-size: 80px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(8, 8, 8);

text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;    line-height: 1.5; }
.text-black{
    font-size: 40px;
    margin: 20px;
    padding: 20px;
}
.hover-1-wrap .hover-1 {
    position: relative;
    margin-bottom: 0;
    display: block; }
.hover-1-wrap .hover-1:after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      background: #a2c0be;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
  
  .hover-1-wrap:hover .hover-1:after {
    right: -10px;
    bottom: -10px;
    position: absolute; }